html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body { 
  font-family: 'font', sans-serif;
}


@font-face {
  font-family: 'EuclidCircularA';
  src: local('EuclidCircularA'), local('EuclidCircularA-Regular'), url('../fonts/EuclidCircularA-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: local('EuclidCircularA'), local('EuclidCircularA-Medium'), url('../fonts/EuclidCircularA-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #FFF;
  --color-blue: rgb(31, 8, 165);
  --color-black: rgb(0, 0, 0);
  --color-grey: rgb(172, 172, 172);
}


/*glob*/

.page {
  font-family: "EuclidCircularA", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-white);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.btn {
  display: flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--color-blue);
  color: var(--color-white);
}

/* cookie */

.cookie__container{
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cookie__message{
  padding: 7px 15px;
  border-radius: 14px;
  background: rgb(226, 226, 226);
}

.cookie__text{
  color: var(--color-black);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  margin-right: 10px;
}

.btn__cookie{
  padding: 5px 13px;
  color: var(--color-black);
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 9px;
  background: rgb(255, 255, 255);
}

.chat{
  display: inline-flex;
  position: fixed;
  right: 50px;
  bottom: 20px;
  cursor: pointer;
  background: var(--color-blue);
  border-radius: 50px;
  padding: 16px;
  z-index: 1000;
}


/*header*/

.header-outer{
  display: flex;
  position: sticky;
  background-color: var(--color-white);
  height: 100px;
  padding: 18px 43px;
  z-index: 1000;
  top: -20px;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
}

.nav{
  display: flex;
}

.header__logo{
  max-width: 200px;
  max-height: 65px;
  cursor: pointer;
  margin-right: 700px;
}



.nav__link{
  color: rgb(31, 8, 165);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

.nav__link:last-child{
  margin-right: 30px;
}


.nav__list{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__btn{
  gap: 14px;
  align-self: center;
}



/*main*/


.hero{
  padding: 725px 0 0 0;
  background: url(../img/hero.png) no-repeat;
  margin-bottom: 150px;
}

.banner{
  position: relative;
  padding: 65px 92px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 0px 13.7px 0px rgba(0, 0, 0, 0.25);
  max-width: 970px;
  border-radius: 28px;
  color: var(--color-black);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.banner__btn{
  position: absolute;
  margin-left: 26px;
  bottom: -30px;
  padding: 14px 160px;
  border-radius: 15px;
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.blue{
  color: var(--color-blue);
}


/* COWORKINGS */

.section__title{
  color: var(--color-black);
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 30px;
}

.cowork{
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 34px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--color-white);
  margin-bottom: 60px;
}

.cowork__about {
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	flex-direction: column;
	width: 100%;
}

.cowork__title{
  display: flex;
  flex-grow: 1;
}

.cowork__institute{
  margin: 0;
  color: var(--color-black);
  font-size: 32px;
  font-weight: 500;
  line-height: 41px;
  text-align: left;
}

.cowork__name{
  color: var(--color-blue);
  font-size: 32px;
  font-weight: 500;
  line-height: 41px;
  text-align: left;
}

.cowork__address{
  display: inline-flex;
  color: var(--color-grey);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-left: auto;
}

.cowork__address::before{
  content: "";
  width: 20px;
  height: 25px;
  background: url('../img/Vector.png') no-repeat center;
  margin-right: 5px;
}

.cowork__description{
  color: var(--color-grey);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-bottom: 60px;
}

.cowork__btn{
  margin-left: auto;
  border-radius: 20px;
  padding: 12px 50px;
}

.cowork-photo__container{
  position: relative;
  width: 660px;
  height: 450px;
}

.cowork__rating{
  display: inline-flex;
  position: absolute;
  align-items: end;
  top: 0;
  left: 0;
  padding: 20px;
  margin: 20px;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  border-radius: 35px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--color-blue);
}

.cowork__rating::before{
  content: "";
  width: 35px;
  height: 35px;
  background: url('../img/star.png') no-repeat center;
  margin-right: 5px;
}

.cowork__photo{
  display: inline-block;
  min-width: 660px; 
  min-height: 450px; 
  border-radius: 31px;
  box-shadow: inset 0px -50px 50px -31px rgba(0, 0, 0, 0.25);
}

/* footer */

.footer{
  display: flex;
  padding: 30px;
  border-radius: 83px;
  box-shadow: 0px 0px 11.6px 0px rgba(0, 0, 0, 0.25);
  background: var(--color-white);
}

.footer__logo{
  display: inline;
  max-width: 150px;
  max-height: 150px;
}

.footer__description{
  padding-left: 80px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer__title{
  margin: 0;
  display: inline-block;
  margin-bottom: 20px;
}

.footer__contacts{
  color: var(--color-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-decoration-line: underline;
}


/* REGISTER */

.register{
  display: flex;
  flex-direction: column;
  max-width: 360px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  padding: 20px;
}

.register__title-wrapper{
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.register__title{
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-left: auto;
}

.close-img{
  cursor: pointer;
  max-width: 20px;
  max-height: 20px;
  margin-left: auto;
}

.register__list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;
}

.register__input{
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 0 13px 10px;
  height: 50px;
  width: 320px;
}

.register__elem{
  position: relative;
}

.register__elem::placeholder{
  color: rgb(221, 221, 221);
  font-size: 16px;
}

.register__error{
  /* display: none; */
  color: rgb(168, 7, 7);
  align-self: flex-start;
  margin-top: 6px;
}

.register__btn{
  margin: 18px 0 18px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.register__question{
  color: var(--color-black);
  margin-bottom: 30px;
}

.register__link{
  color: var(--color-blue);
}

.password-control{
  position: absolute;
	top: 18px;
	right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/img/show-password.png) 0 0 no-repeat;
}
/* register confirm */

.register-confirm__message{
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-bottom: 20px;
}

.bold{
  font-weight: 600;
}

.register__resend{
  color: var(--color-grey);
  align-self: flex-start;
  margin-top: 6px;
}

/*  COWORK-PAGE  */

.book__hero{
  margin-top: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px;
  max-height: 530px;
  max-width: 1320px;
  margin-bottom: 30px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 9;
}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 9;
}

.gallery__item--4 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 9;
}

.book__about{
  margin-bottom: 30px;
}

.about__text{
  padding: 25px 20px;
  color: rgb(29, 29, 29);
  font-size: 24px;
  font-weight: 400;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
}

.book__comfort{
  margin-bottom: 50px;
}

.comfort__list{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.comfort__elem{
  display: flex; 
  align-items: center;
  max-width: 320px;
  max-height: 70px;
  border-radius: 11px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
}

.comfort__img{
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 11px;
  background-color: var(--color-blue);
}

.comfort__text{
  padding: 20px 40px;
  color: rgb(31, 8, 165);
  font-size: 24px;
  font-weight: 400;
}

/* LOCATION */

.book__location{
  display: flex;
  border-radius: 60px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  padding: 50px 60px;
  margin-bottom: 30px;
}

.location__container{
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.location__wrapper{
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  border-right: 4px solid rgb(31, 8, 165);
}

.location__img{
  margin-bottom: 30px;
}

.location--beauty{
  font-size: 32px;
  font-weight: 500;
  color: var(--color-blue);
  padding-right: 5px;
}

.location__title{
  margin-left: 60px;
}

.location__text{
  font-size: 24px;
  font-weight: 400;
  color: var(--color-black);
  margin-bottom: 40px;
}

.location__text--wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.location__wrapper--2{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.location__link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: var(--color-blue);
  border-radius: 25px;
}

.select-menu {
  max-width: 300px;
}
.select-menu .select-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;;
}
.select-menu .options {
  margin-top: 1rem;
  position: absolute;
  width: 240px;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.select-menu .options .option:hover {
  background: #f2f2f2;
}
.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}
.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-btn i {
  font-size: 25px;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.location__list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.location__elem{
  display: flex;
  align-items: center;
  gap: 20px;
}

.location__day{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(31, 8, 165);
  color: var(--color-white);
  font-size: 20px;
  font-weight: 600;
}

.location__time{
  color: var(--color-black);
  font-size: 24px;
  font-weight: 400;
}


/* REVIEWS */

.reviews{
  margin-bottom: 30px;
}

.reviews__head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.review__title{
  margin-bottom: 0;
}

.review__btn::before{
  content: "";
  width: 35px;
  height: 35px;
  background: url('../img/pencil.png') no-repeat center;
  margin-right: 5px;
}

.review__wrapper{
  border: 4px solid var(--color-blue);
  border-radius: 15px;
  background: rgb(250, 250, 250);
  padding: 15px;
}

.review__head{
  display: flex;
  align-items: center;
}

.review__author{
  color: var(--color-grey);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-right: auto;
}

.review__date{
  color: var(--color-grey);
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.review__stars{

  display: flex;
  padding: 0;
  gap: 3px;
}

.review__text{
  color: var(--color-black);
  font-size: 20px;
  font-weight: 400;
}


/* review MODAL   */

.modal__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.hidden {
  display: none;
}

.book__modal{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  min-width: 720px;
  min-height: 400px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background: rgb(250, 250, 250);
  padding: 20px 40px;
}

.modal__title{
  margin: 0;
  color: var(--color-black);
  font-size: 32px;
  font-weight: 500;
}

.modal-body {
	border-top: 10px solid rgb(226, 226, 226);
}

.modal-first-page::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0px;
	left: 0;
	top: -10px;
	width: 33%;
	height: 10px;
	background-color: var(--color-blue);
}

.modal-second-page::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0px;
	left: 0;
	top: -10px;
	width: 66%;
	height: 10px;
	background-color: var(--color-blue);
}

.modal__input {
	margin-top: 20px;
	margin-bottom: 10px;
}

.book__date{  
  text-align: center;
  height: 50px;
  background-color: var(--color-grey);
  border: 0;
}

.date__text{
  color: var(--color-black);
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
}

.time__list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 50px;
}



.checkbox__text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 38px;
  background-color: #d3d3d4;
  color: var(--color-black);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.checkbox__text:hover{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.time__checkbox{
  display: none;
}

.selected-style {
	background-color: var(--color-blue);
	color: var(--color-white);
	border-color: var(--color-blue);
}

.selected-time{
  align-self: flex-start;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-blue);
  margin-bottom: 20px;
}

.selected-time__value{
  color: var(--color-black);
}

.btn__next{
  margin-left: auto;
}

.modal__navigator{
  gap: 200px;
  display: flex;
  justify-content: end;
}

.book__width{
  min-width: 600px;
}

.modal__params{
  margin-bottom: 25px;
}