@using UrFU_WorkSpace.Helpers
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="~/css/normalize.css">
  <link rel="stylesheet" href="~/css/style.css">
  <link rel="stylesheet" href="~/css/site.css">
  <title>Co-working</title>
</head>
<body class="page">
<nav class="navbar navbar-light sticky-top" style="background-color: white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="~/img/Logo.png" alt="Лого" class="d-inline-block align-text-top">
    </a>
    <div style="display: inline-flex">
      <span class="navbar-text">
        <a href="#" class="nav__link">Контакты</a>
      </span>
      @{
        int code;
        var jwtToken = Context.Session.GetString("JwtToken");
        if (jwtToken == null)
        {
          <button id="lk" class="btn-reset btn nav__btn" style="margin-right: 5rem" data-bs-toggle="modal" data-bs-target="#loginModal">
            Войти
          </button>
        }
        else
        {
          <div style=" margin-right: 5rem" class="btn-reset btn nav__btn">
            <img src="~/img/account.svg" alt="Лк">
            @JwtTokenDecoder.GetUserName(jwtToken)
          </div>
        }
      }
    </div>
  </div>
</nav>

<div class="container">
  @RenderBody()
  
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/gojs/go.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
  <footer class="footer">
    <img class="footer__logo" src="~/img/logo-footer.png" alt="Логотип">
    <div class="footer__description">
      <h2 class="section__title footer__title">
        Контакты
      </h2>
      <a class="footer__contacts" href="mailto:Support@gmail.com">
        Support@gmail.com
      </a>
    </div>
  </footer>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; border-radius: 10px;">
    <div class="modal-content">
      <div style="margin:2rem auto 0;">
        <h4 style="color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px;" id="registerModalLabel">Регистрация</h4>
      </div>
      <div class="modal-body">
        <form id = "registerForm">
          <div style="margin: 1rem">
            <input class="register__input form-control" name="first-name" placeholder="Имя" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" name="second-name" placeholder="Фамилия" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" id="login" name="login" placeholder="Логин" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" type="email" id="email" name="email" placeholder="Электронная почта УрФУ" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" name="password" placeholder="Введите пароль" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" placeholder="Введите пароль повторно" required/>
          </div>
          
          <div style="margin: 1rem">
            <input class="register__input form-control" id="code" name="code" hidden="true"/>
          </div>
          <div style="color: red;text-align: center; font-size: small" id="error-message"></div>
          <div style="margin:3rem 1rem 1rem 1rem">
            <button class="btn register__btn" type="submit">Продолжить</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; border-radius: 10px;">
    <div class="modal-content">
      <div style="margin:2rem auto 2rem;">
        <h4 style="color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="loginModalLabel">Войдите или <br>Зарегестриуйтесь</h4>
      </div>
      <div class="modal-body" style="margin: auto">
        <form asp-action="Login">
          <div style="padding: 7px">
            <input class="register__input form-control form-control-lg" name="login" placeholder="Логин" required/>
          </div>
          <div  style="padding: 7px">
            <input class="register__input form-control form-control-lg" name="password" placeholder="Пароль" required/>
          </div>
          <div style="color: red;padding: 7px; font-size: medium" id="login-error-message"></div>
          <div style="margin:3rem 1rem 1rem 1rem"> 
            <button type="submit" style="padding: 5px;height: 75%; width: 100%" class="btn form-control-lg">Войти</button>
          </div>
        </form>
        
        <div class="register__question" style="text-align: center; padding-top: 10px">Нет аккаунта? 
          <a data-bs-toggle="modal" href="#" data-bs-target="#registerModal">Зарегестрируйтесь</a>
          </div>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="verifyCodeModal" tabindex="-1" aria-labelledby="verifyCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; border-radius: 10px;">
    <div class="modal-content">
      <div style="margin:2rem auto 0;">
        <h4 style="color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="verifyCodeModalLabel">Подтвердите почту</h4>
      </div>
      <div class="modal-body" style="margin:1rem auto">
        <div class="register-confirm__message" style="text-align: center">
          Мы отправили Вам 6-ти значный код на <span style="font-weight: bold" id ="verifyEmail"></span>. Введите его в поле ниже
        </div>
        <form>
          <div style="margin-top: 1rem;">
            <input class="form-control form-control-lg" name="code" style="padding: 10px" placeholder="Код подтверждения с Email"/>
            <span style="font-size: small; color: darkgray; padding: 10px">Отправить код еще раз</span>
          </div>
          <div style="margin:2rem 10px 10px 0"> 
            <button type="submit" style="padding: 5px;height: 75%; width: 100%" class="btn form-control-lg" required>Подтвердить почту</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<script>
  document.querySelector('#loginModal form').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(event.target);
  $.post('/Home/Login/', {
    login : formData.get('login'), 
    password : formData.get('password')
  }).then(Name => {
      if (Name) {
       $('#lk').replaceWith('<div style="margin-right: 5rem" class="btn-reset btn nav__btn"><img src="img/account.svg" alt="Лк">' + Name + '</div>');
        $('#loginModal').modal('hide');
       } 
    })
   .catch(error => {
     if (error.status === 400){
       document.getElementById("login-error-message").textContent = error.responseText;
       }
      console.error(error);
    });
  });
  
  $('a[data-bs-target="#registerModal"]').click(function() {
    $('#loginModal').modal('hide');
    $('#registerModal').modal('show');
  });
  
    const sendCheckUserRequest = (evt) => {
        
        evt.preventDefault();
        const emailElement = document.getElementById("email")
        const loginElement = document.getElementById("login")
        document.getElementById("verifyEmail").textContent = emailElement.value;
        
        $.post('/Home/CheckUserExistence/', {
          login: loginElement.value,
          email : emailElement.value
        })
         .then(message => {
           if (message != ""){
             document.getElementById("error-message").textContent = message;
           }
           else{
             document.getElementById("error-message").textContent = "";
             $('#registerModal').modal('hide');
             $('#verifyCodeModal').modal('show');
             sendRegistrationRequest(evt);
             }
           }).catch(error => {
            console.error(error);
            $('#registerModal').modal('hide');
            });
        }
    
  const sendRegistrationRequest = (evt) => {
    
    evt.preventDefault();
    const emailElement = document.getElementById("email")
    document.getElementById("verifyEmail").textContent = emailElement.value;
    
    $.post('/Home/SendCode/', {
      email : emailElement.value
    })
     .then(code => {
       document.getElementById("code").value = code;
       }
     ).catch(error => {
        console.error(error);
        $('#registerModal').modal('hide');
        });
    }
    
    const sendreg = (evt) => {
      evt.preventDefault();
          const registerElement = document.getElementById("registerForm")
          const codeForm = new FormData(evt.target);
          const formData = new FormData(registerElement);
          $.post('/Home/Register/', {
            firstName:formData.get('first-name'),
            secondName:formData.get('second-name'),
            email:formData.get('email'),
            login : formData.get('login'), 
            password : formData.get('password'),
            correctCode : formData.get('code'),
            code : codeForm.get('code')
          })
           .then(Name => {
             $('#lk').replaceWith('<div style="margin-right: 5rem" class="btn-reset btn nav__btn"><img src="img/account.svg" alt="Лк">' + Name + '</div>');
             }).catch(error => {
                console.error(error);
             })
             .finally($('#verifyCodeModal').modal('hide'));
          }
    document.querySelector('#registerModal form').addEventListener('submit', sendCheckUserRequest);
    document.querySelector('#verifyCodeModal form').addEventListener('submit', sendreg);
</script>

</body>
</html>