<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/normalize.css">
  <link rel="stylesheet" href="~/css/style.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
  <title>Co-working</title>
</head>
<body class="page">
<div class="container">
  <header class="header">
    <img class="header__logo" src="~/img/Logo.png" alt="Лого">
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__elem">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
      <button id="lk" class="btn-reset btn nav__btn" data-bs-toggle="modal" data-bs-target="#loginModal">
        <img src="~/img/account.svg" alt="Лк">
        Личный кабинет
      </button>
    </nav>
  </header>
  @RenderBody()
  
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/gojs/go.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
  <footer class="footer">
    <img class="footer__logo" src="./img/logo-footer.png" alt="Логотип">
    <div class="footer__description">
      <h2 class="section__title footer__title">
        Контакты
      </h2>
      <a class="footer__contacts" href="mailto:Support@gmail.com">
        Support@gmail.com
      </a>
    </div>
  </footer>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div style="margin:2rem auto 0;">
        <h4 style="color: #1a1e21; margin: auto" id="exampleModalLabel">Регистация</h4>
      </div>
      <div class="modal-body">
        <form asp-action="Register">
          <div style="margin: 1rem">
            <input class="form-control" name="first-name" placeholder="Имя"/>
          </div>
          <div style="margin: 1rem">
            <input class="form-control" name="second-name" placeholder="Фамилия"/>
          </div>
          <div style="margin: 1rem">
            <input class="form-control" name="login" placeholder="Логин"/>
          </div>
          <div style="margin: 1rem">
           <input class="form-control" type="email" id="email" name="email" placeholder="Электронная почта УрФУ" />
          </div>
          <div style="margin: 1rem">
            <input class="form-control" name="password" placeholder="Введите пароль"/>
          </div>
          <div style="margin: 1rem">
            <input class="form-control" placeholder="Введите пароль повторно"/>
          </div>
          <div style="margin: 1rem"> 
            <button type="submit" class="btn btn-info">Продолжить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div style="margin:2rem auto 0;">
        <h4 style="color: #1a1e21; margin: auto" id="loginModalLabel">Вход</h4>
      </div>
      <div class="modal-body">
        <form asp-action="Login">
          <div style="margin: 1rem">
            <input class="form-control" name="login" placeholder="Логин"/>
          </div>
          <div style="margin: 1rem">
            <input class="form-control" type="email" id="email" name="email" placeholder="Электронная почта УрФУ" />
          </div>
          <div style="margin: 1rem">
            <input class="form-control" name="password" placeholder="Введите пароль"/>
          </div>
          <div style="margin: 1rem"> 
            <button type="submit" class="btn btn-info">Войти</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#loginModal form').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(event.target);
    const login = formData.get('login');
    const email = formData.get('email');
    const password = formData.get('password');

    fetch('https://localhost:7057/Home/Login/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      },
      body: `login=${encodeURIComponent(login)}&email=${encodeURIComponent(email)}&password=${encodeURIComponent(password)}`
    })
   .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Response error');
      }
    })
   .then(jwtToken => {
      if (jwtToken) {
        $('#lk').replaceWith('<span style="color: #1a1e21">' + jwtToken + '</span>');
        $('#loginModal').modal('hide');
      } else {
        $('#loginModal').modal('hide');
      }
    })
   .catch(error => {
      console.error(error);
      $('#loginModal').modal('hide');
    });
  });
</script>
</body>
</html>