@using Microsoft.AspNetCore.Http;
@using UrFU_WorkSpace.Helpers
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="~/css/normalize.css">
  <link rel="stylesheet" href="~/css/style.css">
  <link rel="stylesheet" href="~/css/media.css">
  <link rel="stylesheet" href="~/css/site.css">
  <title>Co-working</title>
</head>
<body class="page">
<nav class="navbar navbar-light sticky-top" style="background-color: white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="~/img/Logo.png" alt="Лого" class="d-inline-block align-text-top">
    </a>
    <div style="display: inline-flex">
      <span class="navbar-text">
        <a href="#" class="nav__link">Контакты</a>
      </span>
          <div id="lk">
            <button class="btn-reset btn nav__btn" style="margin-right: 5rem" data-bs-toggle="modal" data-bs-target="#loginModal">
              Войти
            </button>
          </div>
    </div>
  </div>
</nav>

<div class="container">
  @RenderBody()
  <footer class="footer">
    <img class="footer__logo" src="~/img/logo-footer.png" alt="Логотип">
    <div class="footer__description">
      <h2 class="section__title footer__title">
        Контакты
      </h2>
      <a class="footer__contacts" href="mailto:Support@gmail.com">
        Support@gmail.com
      </a>
    </div>
  </footer>
</div>
<div class="modal fade" id="constructorModal" tabindex="-1" aria-labelledby="constructorModal" aria-hidden="true">
<div class="modal-dialog constructor">
  <div class="modal-content" style="border: transparent">
    <div class="modal-header" style="border: none">
      <h5 class="constructor__title modal-title">Конструктор карточки коворкинга</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
     @Html.Partial("~/Views/User/WorkspaceConstructor.cshtml") 
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; border-radius: 10px;">
    <div class="modal-content">
      <div style="margin:2rem auto 0;">
        <h4 style="color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px;" id="registerModalLabel">Регистрация</h4>
      </div>
      <div class="register__wrap">
        <form id = "registerForm">
          <div style="margin: 1rem">
            <input class="register__input form-control" name="first-name" placeholder="Имя" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" name="second-name" placeholder="Фамилия" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" id="login" name="login" placeholder="Логин" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" type="email" id="email" name="email" placeholder="Электронная почта УрФУ" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" name="password" placeholder="Введите пароль" required/>
          </div>
          <div style="margin: 1rem">
            <input class="register__input form-control" placeholder="Введите пароль повторно" required/>
          </div>
          
          <div style="margin: 1rem">
            <input class="register__input form-control" id="code" name="code" hidden="true"/>
          </div>
          <div style="color: red;text-align: center; font-size: small" id="error-message"></div>
          <div style="margin:3rem 1rem 1rem 1rem">
            <button class="btn register__btn" type="submit">Продолжить</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; border-radius: 10px;">
    <div class="modal-content">
      <div style="margin:2rem auto 2rem;">
        <h4 style="color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="loginModalLabel">Войдите или <br>Зарегестриуйтесь</h4>
      </div>
      <div class="" style="margin: auto">
        <form>
          <div style="padding: 7px">
            <input class="register__input form-control form-control-lg" name="login" placeholder="Логин" required/>
          </div>
          <div  style="padding: 7px">
            <input class="register__input form-control form-control-lg" name="password" placeholder="Пароль" required/>
          </div>
          <div style="color: red;padding: 7px; font-size: medium" id="login-error-message"></div>
          <div style="margin:3rem 1rem 1rem 1rem"> 
            <button type="submit" style="padding: 5px;height: 75%; width: 100%" class="btn form-control-lg">Войти</button>
          </div>
        </form>
        
        <div class="register__question" style="text-align: center; padding-top: 10px">Нет аккаунта? 
          <a data-bs-toggle="modal" href="#" data-bs-target="#registerModal">Зарегестрируйтесь</a>
          </div>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="verifyCodeModal" tabindex="-1" aria-labelledby="verifyCodeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; border-radius: 10px;">
    <div class="modal-content register">
      <div style="margin:2rem auto 0;">
        <h4 style="color: #1a1e21; margin: auto; font-weight: bold; font-size: 20px; text-align: center" id="verifyCodeModalLabel">Подтвердите почту</h4>
      </div>
      <div class="" style="margin:1rem auto">
        <div class="register-confirm__message" style="text-align: center">
          Мы отправили Вам 6-ти значный код на <span style="font-weight: bold" id ="verifyEmail"></span>. Введите его в поле ниже
        </div>
        <form>
          <div style="margin-top: 1rem;">
            <input class="form-control form-control-lg" name="code" style="padding: 10px" placeholder="Код подтверждения с Email"/>
            <span style="font-size: small; color: darkgray; padding: 10px">Отправить код еще раз</span>
          </div>
          <div style="margin:2rem 10px 10px 0"> 
            <button type="submit" style="padding: 5px;height: 75%; width: 100%" class="btn form-control-lg" required>Подтвердить почту</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/gojs/go.js"></script>
<script src="~/js/diagram.js"></script>
<script src="~/js/scripts.js"></script>
<script src="~/js/utils.js" type="module"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/authentication-scripts.js" asp-append-version="true" type="module"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>