<!DOCTYPE html>
<html lang="en">
    <main class="main">
      <div class="cabinet__hero">
        <div class="user__wrapper">
          <span class="user__avatar">
            П
          </span>
          <span class="user__name">
            <a href="">Пользователь</a>
          </span>
          <span class="user__leave">
            <a href="">Выход</a>
          </span>
        </div>

        <h2 class="section__title cabinet__title">
          Личный кабинет
        </h2>
      </div>

      <nav class="nav cabinet__nav">
        <ul class="list-reset nav__list">
          <li class="nav-active">
            <a href="./personal-cabinet-profile.html">Профиль</a>
          </li>
          <li >
            <a href="./personal-cabinet-reservations.html">Мои бронирования</a>
          </li>
          <li>
            <a href="./personal-cabinet-coworks.html">Мои коворкинги</a>
          </li>
        </ul>
      </nav>

      <section class="cabinet__section">
        <h3 class="section__title cabinet-section__title">
          Профиль
        </h3>

        <div class="profile__wrapper">
          <h3 class="profile__name">
            Пользователь (Имя, фамилия)
          </h3>
          <span class="profile__mail-title">
            Электронная почта
          </span>
          <span class="profile__mail">
            UserEmail@mail.ru
          </span>
        </div>
      </section>
  </main>
</html>